{#
Show citation section with provided values

dataset_citation: A dictionary represent list of CSL variables and values, see helper.py
for more information.
List of variables are defined here https://docs.citationstyles.org/en/stable/specification.html#appendix-iv-variables

e.g.:  {% snippet 'citation/snippets/citation.html', dataset_citation={'title': 'a title', 'author': 'hy', 'DOI': '10.1029/2011JC007049'} %}

#}

{% asset "citation/citation" %}

<section class="{% block cite_section_class %}module module-narrow module-shallow citation{% endblock %}">
    {% block cite_as_title %}
        <h2 class="module-heading">
            <i class="fa fa-copy"></i>
            {{ _('Cite as') }}
        </h2>
    {% endblock %}
    {% block cite_as_content %}
        <div class="module-content">
            <input
                type="hidden"
                data-module="show-citation"
                data-module-citation="{{ dataset_citation|tojson|forceescape }}"
            >
            {% block cite_as_text %}
                <div class="csl-bib-body">
                    <div class="csl-entry">{{ _('Loading...') }}</div>
                </div>
            {% endblock %}
            <div class="btn-group">
                <span class="btn btn-primary" data-clipboard-target=".csl-entry">
                    <i class="fa fa-clipboard"></i> {{ _("Copy to clipboard") }}
                </span>
            </div>
        </div>
    {% endblock %}
</section>
