{#
Show citation section with provided values

dataset_citation: A dictionary represent list of CSL variables and values, see helper.py
  for more information. If not provided, the default one will be used (see below).
  List of variables are defined here https://docs.citationstyles.org/en/stable/specification.html#appendix-iv-variables

  e.g.:  {% snippet 'citation/snippets/citation.html', dataset_citation={'title': 'a title', 'author': 'hy', 'DOI': '10.1029/2011JC007049'} %}

#}

{% if not dataset_citation %}
    {%
    set dataset_citation = {
    'version': c.pkg_dict['metadata_modified'],
    'author': c.pkg_dict['author'],
    'title': c.pkg_dict['title']
    }
    %}
{% endif %}

<section class="{% block cite_section_class %}module module-narrow module-shallow citation{% endblock %}">
    {% block cite_as_title %}
        <h2 class="module-heading">
            <i class="fa fa-copy"></i>
            {{ _('Cite as') }}
        </h2>
    {% endblock %}
    {% block cite_as_content %}
        <div class="module-content">
            <input
                type="hidden"
                data-module="show-citation"
                data-module-citation="{{ h.dump_json(dataset_citation) }}"
            >
            {% block cite_as_text %}
                <div class="csl-bib-body">
                    <div class="csl-entry">{{ _('Loading...') }}</div>
                </div>
            {% endblock %}
            <div class="btn-group">
                <span class="btn btn-success" data-clipboard-target=".csl-entry">
                    <i class="fa fa-clipboard"></i> {{ _("Cut to clipboard") }}
                </span>
            </div>
        </div>
    {% endblock %}
</section>
